/* Flickr Title
 ******************************************************************************/

#content h2.flickr {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    font-size: 16px;
    color: #2e3436;
}

/* Flickr Photos
 ******************************************************************************/

.flickrPhotos {
    overflow: hidden;
    padding-left: 2px;
    margin-left: auto;
    margin-right: auto;
    /*width: 233px;*/
    /*margin-bottom: 40px;*/
}
.flickrPhotos a {
    display: block;
    float: left;
}
.flickrPhotos a img {
    margin-right: 2px;
    margin-bottom: 2px;
    /*padding: 3px;*/
    display: block;
    width: 75px;
    height: 75px;
}

/* Become a sponsor
 ******************************************************************************/

.becomeASponsor {
    background: url(../img/become-a-sponsor-bg.png) top no-repeat;
    width: 197px;
    margin-left: -18px;
    padding: 60px 30px 30px;
    min-height: 100px;
    line-height: 170%;
    font-size: 16px;
}
/* Extra-attention menu bar
 ******************************************************************************/
#attention-nav ul {
    position: absolute;
    top: -60px;
    font-size: 14pt;
    font-weight: bold;
}
#attention-nav ul li {
    display: inline;
    list-style: none;
}
#attention-nav ul li:first-child {
    margin-left: 0;
}
/* Stream display on front page
 ******************************************************************************/
#streamview,
#frontstream {
    width: 560px;
    margin: 0 auto;
}
#streamlist ul li {
    display: inline;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 11pt;
    margin-left: 1em;
}
#streamlist ul li a {
    color: #000;
    text-decoration: none;
}
#streamlist ul li a:hover {
    text-decoration: underline;
}
#streamlist ul li:first-child {
    margin-left: 0;
}

.videoplayer {
    background: #000;
    margin: 0;
    padding: 0 0 0 0;
}

/* The Hague logo
 ******************************************************************************/
#footer {
    position: relative;
}
#thehaguelogo {
    position: absolute;
    /*top: -180px;*/
    right: 40px;
    bottom: 40px;
}
