/* News block
 ******************************************************************************/

.news {
    margin-left: 88px;
}

#content .news h1 {
    font-weight: normal;
}


/* News Date
 ******************************************************************************/


.newsDate {
    overflow: hidden;
    text-align: center;
    background: #ced2cf;
    padding: 10px 5px;
    width: 58px;
    margin-left: -88px;
    float: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
    margin-right: 20px;
}
.newsDate .month {
    display: block;
    font-size: 11px;
    text-transform: uppercase;   
}
.newsDate .day {
    font-size: 22px;
    display: block;
    line-height: 100%;
    font-family: Georgia, serif;
}
.newsDate .year {
    display: block;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
}
