/* GUADEC 2010 Website
 ******************************************************************************/

html {
    font-family: "Droid Sans", "Lucida Grande", "DejaVu Sans Condensed", Helvetica, sans-serif;
    font-size: 13px;
    background: #f1f2ed;
    margin: 0;
}
body {
    margin: 0;
}


/* Reset attributes and generic styles
 ******************************************************************************/


img, a, ul, ol, li, dl, dt, dd, table, p, h1, h2, h3, h4, h5, h6, form, legend, blockquote {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
hr {
    background: #819fad;
    height: 1px;
    margin: 20px 0;
    border: 0;
}

a {
    color: #214068;
}
a:hover {
    color: #256dc9;
}
a:visited {
    color: #7e8fa6;
}




h1, h2, h3 {
    font-weight: normal;
}

/* Global Top Bar
 ******************************************************************************/

#topBar {
    background: #4d616c;
    padding: 4px 0;
}
#topBar ul {
    text-align: center;
}
#topBar li {
    display: inline;
}
#topBar li a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #282c2c;
    display: inline-block;
    padding: 2px 4px;
}
#topBar li a:hover {
    text-decoration: underline;
}

/* Header
 ******************************************************************************/


#header {
    background: #93adb9 url(../img/header-bg.png) bottom repeat-x;
    padding: 20px 0 30px;
}
#header.index {
    padding: 40px 20px 0;
    text-align: center;
}
#header h1 {
    margin: 0;
}
#header h1 img {
    border: 0;
}
#header .silhouette {
    display: block;
    margin: 0 auto;
    width: 630px;
    height: 110px;
    background: url(../img/header-silhouette.png) 0 0 no-repeat;
    color: transparent;
    text-align: center;
    
    float: right;
    position: absolute;
    top: 33px;
    right: 0;
}
#header.index .silhouette {
    position: relative;
    float: none;
    top: 0;
    left: 0;
}

/* Gold sponsors
 ******************************************************************************/


#goldSponsors {
    background: #fff;
    padding: 20px;
}
#goldSponsors dt {
    background: #ececec;
    padding: 3px;
    width: 694px;
    margin: 0 auto 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#goldSponsors ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#goldSponsors ul li {
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
}


/* Breadcrumb
 ******************************************************************************/


#breadcrumb {
    background: #fff;
    padding: 10px 0;
}
#breadcrumb a {
    color: #586980;
    text-decoration: none;
    margin: 0 6px;
}
#breadcrumb a:first-child {
    margin-left: 0;
}
#breadcrumb a:hover {
    color: #000;
}



/* Content
 ******************************************************************************/


#content {
    padding: 20px 0;
    background: url(../img/upper-shadow-bg.png) top repeat-x;
    margin-bottom: 40px;
}

/* Headings */

#content h1 {
    color: #587888;
    text-shadow: 0 1px 0 #fff;
    margin: 20px 0 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
#content h1 a {
    text-decoration: none;
}
#content h1 a:hover {
    color: #3465a4;
}
#content h2 {
    margin: 20px 0 10px;
    font-size: 22px;
    color: #204a87;
    line-height: 25px;
}
#content h3 {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #204a87;
}
#content h4 {
    font-size: 16px;
    margin: 20px 0 10px;
    color: #f57900;
}
#content h1 a, #content h2 a, #content h3 a, #content h4 a {
    color: inherit;
}

/* General text */

#content p, #content ul, #content ol, #content dl {
    line-height: 170%;
    margin: 10px 0;
}
#content .feature {
    font-size: 18px;
}

#content .headline {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
}

#content ul.plain {
    margin-left: 2em;
}

#content ul li {
    list-style: disc;
    margin-left: 3em;
}
#content ol li {
    list-style: decimal;
    margin-left: 3em;
}

/* OCS Form table */

#content table.form {

}
#content table.form tr td, #content table.data tr td {
    padding-bottom: 10px;
}
#content table.form tr td table td, #content table.data tr td table td {
    padding-bottom: 0;
}
#content table.form td.label, #content table.data td.label {
    font-weight: bold;
}
#content table .instruct {
    color: #666;
}
#content table.data .mceLayout {
    width: 100% !important;
}
#content table.data iframe {
    height: 250px !important;
}


/* OCS Listing table */

#content table.listing {
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
}
#content table.listing .headseparator {
    overflow: hidden;
    display: none;
}
#content table.listing tr {
    margin: 0;
    padding: 3px;
}
#content table.listing td {
    padding: 5px 6px;
    border-bottom: 1px solid #ccc;
}
#content table.listing tr:last-child td {
    border-bottom: 0;
}
#content table.listing tr.heading td {
    font-weight: bold;
}
#content table.listing td.separator {
    display: none;
}
#content table.listing td.endseparator {
    border-top: 1px solid #ccc;
    background: #ececec;
    height: 2px;
    line-height: 3px;
    padding: 0;
}


/* Step List */

#content ul.steplist {
    background: #ced2cf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 2px 6px #9da59f;
    -webkit-box-shadow: inset 0 2px 6px #9da59f;
    box-shadow: inset 0 2px 6px #9da59f;
    padding: 3px;
}
#content ul.steplist li {
    display: inline-block;
    padding: 1px 4px;
}
#content ul.steplist li.current {
    background: #fff;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #999;
    box-shadow: 0 1px 2px #999;
}
#content ul.steplist li a {
    color: #333;
    display: inline-block;
    padding: 1px 4px;
    line-height: 20px;
    text-decoration: none;
}
#content ul.steplist li a:hover {
    text-decoration: underline;
}


/* Footer
 ******************************************************************************/


#footer {
    background: #587888 url(../img/footer-bg.png) top repeat-x;
    padding: 40px 0;
    color: #fff;
    text-shadow: 0 1px 0 #3f4e56;
}

#footer ul {
    line-height: 1.7em;
}
#footer ul li a strong {
    font-size: 14px;
    display: block;
}
#footer ul li a {
    display: block;
}
#footer a {
    color: #fff;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
#footer .copyright {
    margin-top: 80px;
    font-size: smaller;
    text-align: center;
}
