{**
 * aboutThisPublishingSystem.tpl
 *
 * Copyright (c) 2000-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * About the Conference / About This Publishing System.
 *
 * TODO: Display the image describing the system.
 *
 * $Id: aboutThisPublishingSystem.tpl,v 1.8.2.1 2009/04/08 20:45:51 asmecher Exp $
 *}
{assign var="pageTitle" value="about.aboutThisPublishingSystem"}
{include file="common/header.tpl"}

<p>
{if $currentConference}
{translate key="about.aboutOCSConference" ocsVersion=$ocsVersion}
{else}
{translate key="about.aboutOCSSite" ocsVersion=$ocsVersion}
{/if}
</p>

<p align="center">
	<img src="{$baseUrl}/{$edProcessFile}" style="border: 0;" alt="{translate key="about.aboutThisPublishingSystem.altText"}" />
</p>

{include file="common/footer.tpl"}
