{**
 * footer.tpl
 *
 * Copyright (c) 2000-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Common footer for comment pages.
 *
 * $Id: footer.tpl,v 1.4.2.1 2009/04/08 20:45:52 asmecher Exp $
 *}
</div>
</div>
</div>
</div>
</body>
</html>
