/**
 * classicNavy.css
 *
 * Copyright (c) 2000-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Classic blue theme stylesheet.
 *
 * $Id: classicNavy.css,v 1.3.2.1 2009/04/08 20:45:50 asmecher Exp $
 */

body {
	background-color: #fff;
	font-family: "Times New Roman", Times, Georgia, serif;
}

a {
	text-decoration: none;
}

a:link {
	color: #007;
}

a:active {
	color: #238;
}

a:visited {
	color: #007;
}

a:hover {
	color: #ABD;
	background: #007;
}

label.error {
	color: #900;
}

input.defaultButton {
	color: #ABD;
	background: #007;
}

#container {
	background-color: #fff;
	font-size: 1em;
}

#header {
	#height:  100px;
	background-color: #fff;
}

#headerTitle {
	text-align: center;
}

#header h1 {
	line-height: 2.5;
	font-family: "Times New Roman", Times, Georgia, serif;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 2em;
	background-color: #007;
	color:  #fff;
}

#footer {
	background-color: #007;
	color:  #fff;
}

#footerContent {
	color:  #fff;
}

#main {
	background-color: #fff;
	border-top: 1px solid yellow;
	border-bottom: 1px dotted #007;
	margin-top: 15px;
}

#main h2 {
	font-family: "Times New Roman", Times, Georgia, serif;
	text-transform: uppercase;
}

#main h3 {
	font-family: "Times New Roman", Times, Georgia, serif;
	text-transform: uppercase;
}

#navbar {
	border-bottom: 1px dotted #007;
	text-align: center;
}

#breadcrumb {
	height: 18px;
	line-height: 1.5em;
	text-align: center;
	border-bottom: 1px dotted #007;
	padding: 0;
	font-style: italic;
}

#content {
	border-top: 1px dotted #007;
}

#content h3 {
	font-family:  "Times New Roman", Times, Georgia, serif;
	text-transform: uppercase;
}

#content h4 {
	font-family:  "Times New Roman", Times, Georgia, serif;
	text-transform: uppercase;
}

#content h5 {
	text-transform: uppercase;
}

span.highlight {
	border-bottom: 1px dotted #007;
}

table.listing tr.highlight {
	background: #fcff64;
}

table.listing tr.fastTracked {
	background-color: #ABD;
}

table.listing td.headseparator {
	border-top: 1px dotted #007;
}

table.listing td.endseparator {
	border-top: 1px dotted #007;
}

span.formError {
	color: #900;
}

ul.formErrorList {
	color: #900;
}

div.separator {
	border-bottom: 1px dotted #007;
}

#rightSidebar ul, #leftSidebar ul {
	margin-left: 0px;
	padding-left: 0px;
}

#rightSidebar li, #leftSidebar li {
	list-style-type: none;
}

#rightSidebar, #leftSidebar {
	margin-top: 5px;
	border-bottom: 1px dotted #007;
}
