{**
 * sizer.tpl
 *
 * Copyright (c) 2000-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Header data for font sizer.
 *
 * $Id: sizer.tpl,v 1.1.2.1 2009/04/08 20:45:51 asmecher Exp $
 *}

	<!-- Add javascript required for font sizer -->
	<script type="text/javascript" src="{$baseUrl}/js/sizer.js" ></script>

	<!-- Add stylesheets for the font sizer -->
	<link rel="alternate stylesheet" title="{translate key="icon.font_small.alt"}" href="{$baseUrl}/styles/fontSmall.css" type="text/css" />
	<link rel="stylesheet" title="{translate key="icon.font_medium.alt"}" href="{$baseUrl}/styles/fontMedium.css" type="text/css" />
	<link rel="alternate stylesheet" title="{translate key="icon.font_large.alt"}" href="{$baseUrl}/styles/fontLarge.css" type="text/css" />
