/**
 * accommodation.css
 *
 * Copyright (c) 2010 Sense Hofstede <qense@ubuntu.com>
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Custom style elements for the accommodation page
 *
 */

#hotels ul, #hotels li {
    display: inline;
    float: left;
    text-align: center;
}

#hotels li {
    margin: 5px;
}

img.markers {
    display: inline;
    margin-left: 0.2em;
}
