/**
 * bothSidebars.css
 *
 * Copyright (c) 2000-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared elements for pages including both a left-hand sidebar and a
 * right-hand sidebar.
 *
 * $Id: bothSidebars.css,v 1.6.2.1 2009/04/08 20:45:50 asmecher Exp $
 */

/**
 * Common HTML elements
 */


#main {
	position: relative;
	float: left;
	width:47%;
	height: 100%;
	text-align: center;
	margin-left: 0;
	margin-right: 0 !important;
	display: inline;
	overflow: hidden;
}

#body {
	width: 100%;
}
