/**
 * common.css
 *
 * Copyright (c) 2000-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared stylesheet.
 *
 * $Id:
 */

/**
 * Common HTML elements
 */

body {
	margin: 0;
	padding: 0;
	background-color: #FBFBF3;
	color: #111;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-align: center;
}

div {
	line-height: 140%;
	text-align: left;
}

table {
	border: 0;
	border-spacing: 0;
	font-size: 1.0em;
}

form {
	margin: 0;
}

a {
	text-decoration: underline;
}

a:link {
	color: #335;
}

a:active {
	color: #253;
}

a:visited {
	color: #335;
}

a:hover {
	color: #253;
	background: #CDC;
}

a.plain {
	text-decoration: none;
}

ul {
	margin: 0.25em 0 0.75em 0;
	padding: 0 0 0 2.5em;
}

tt {
	font-size: 1.25em;
}

label {
}

label.error {
	color: #900;
}

input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	background-color: #F0F0E8;
	color: #000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-bottom: 2px solid #E8E8E1;
	border-right: 2px solid #E8E8E1;
	font-size: 1em;
}

input.button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #E8E8E1;
	font-size: 1em;
}

input.defaultButton {
	background-color: #375;
	color: #FBFBF3;
	font-weight: bold;
}


/**
 * Main layout elements
 */

#container {
	width:100% !important;
	min-width: 730px !important;
	margin: 0px auto;
	line-height: 125%;
	text-align: center;
}

#header {
	width:100%;
	background-color: #CAA;
	text-align: center;
}

#headerTitle {
	text-align: left !important;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#header h1 {
	margin: 0 auto;
	padding: 0.5em 0 0.25em 10%;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	line-height: 130%;
}

#footer {
	width: 100%;
	min-height: 50px;
	position: static;
	clear: both;
	background-color: #CAA;
	text-align: center;
}

#footerContent {
	width: 100%;
	margin: 0 auto;
	padding-left: 10%;	
}

#main {
	padding: 0.5em 0em 2em 0em;
	width: 80%;
	margin: 0 auto;
}

#main h2 {
	margin: 0em 1em 0.5em 0em;
	padding-top: 0.5em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	line-height: 130%;
}

#main h3 {
	margin: 0em 1em 0.5em 0em;
	padding-top: 0em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
}

#navbar {
	margin-right: 0;
	padding-bottom: 0.5em;
	border-bottom: 2px dotted #000;
}

#breadcrumb {
	padding-top: 1em;
	font-size: 0.7em;
}

#content {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;
	font-size: 0.7em;
	border-top: 2px dotted #000;
}

#content h3 {
	margin: 0em 1em 0.25em 0em;
	padding-top: 0.75em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	font-size: 1.8em;
	line-height: 1.35em;
}

#content h4 {
	margin: .75em 1em 0.25em 0em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	font-size: 1.5em;
}

#content h5 {
	margin: 0em 1em 0.25em 0em;
	padding-top: 0.75em;
	font-weight: bold;
	font-size: 1em;
}


/**
 * Navigation bar
 */

#navbar a {
	font-size: 0.65em;
	letter-spacing: 0.05em;
}

#navbar a:link {
}

#navbar a:active {
}

#navbar a:visited {
}

#navbar a:hover {
}


/**
 * Breadcrumbs
 */

#breadcrumb a {
	text-decoration: none;
}

#breadcrumb a.current {
	font-weight: bold;
}


/**
 * Announcements
 */

#announcementsHome {
	width: 100%;
	margin: 2em 0 2em 0;	
}

#announcementsHome h3 {
	text-align: center;
}

#announcements {
	width: 100%;
}

#announcements h3 {
	text-align: center;
}

table.announcements {
	width: 100%;
}

table.announcements td {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

table.announcements td.nodata {
	text-align: center;
	font-style: italic;
}

table.announcements td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.announcements td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.announcements td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.announcements tr.intro {
}

table.announcements td.intro {
}

table.announcements tr.title {
	vertical-align: top; 
}

table.announcements td.title {
	width: 85%;
}

table.announcements td.title h4 {
}

table.announcements tr.description {
	vertical-align: top;
}

table.announcements td.description {
	width: 85%;
}

table.announcements tr.details {
	vertical-align: bottom;
}

table.announcements td.posted {
	padding-top: 1em;
	font-style: italic;
}

table.announcements td.more {
	width: 15%;
	text-align: right;
}

table.announcementsMore {
	width: 100%;
}

table.announcementsMore td {
	padding-top: 1.5em;
	text-align: right;
}


/**
 * Homepage image
 */

#homepageImage img {
	display: block;
	margin: 0 auto;
	border: 0;
	text-align: center;
}


/**
 * Footer elements
 */

#footer div.debugStats {
	font-size: 0.6em;
}


/**
 * Additional text styles
 */

span.disabled, label.disabled {
	color: #666;
}

a.action, a.file {
	font-size: 0.85em;
	text-transform: uppercase;
}

a.icon {
	text-decoration: none;
}

a.icon img {
	border: 0;
}

a.icon:hover {
	background: none;
}

span.formRequired {
	color: #333;
	font-size: 0.9em;
}

span.instruct {
}

span.heading {
	font-size: 0.85em;
	text-transform: uppercase;
}

span.highlight {
	border-bottom: 1px dotted #000;
}

.nowrap {
	white-space: nowrap;
}

pre {
	background-color: #F0F0E8;
	color: #000;
	font-size: 1.25em;
}

/**
 * Table styles
 */

table.info {
}

table.info td {
	padding: 0;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

table.listing {
	border-collapse: collapse;
}

table.listing td {
	padding: 0.25em 1.5em 0.25em 0.5em;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 120%;
	padding: 0.75em 1.5em 1em 0.5em;
}

table.info td.heading {
	padding-left: 0;
}


table.listing td.nodata, table.info td.nodata {
	text-align: center;
	font-style: italic;
}

table.listing td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.listing td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.listing td.separator, table.info td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.data {
}

table.data tr {
}

table.data td {
	padding-bottom: 0.25em;
}

table.data td.label {
	padding-right: 1em;
}

table.data td.value {
}

table.data td.separator {
	padding: 0.5em;
	font-size: 0.1em;
	line-height: 1%;
}

table.data td.heading {
	padding-left: 0;
	padding-right: 0;
}

table.nested tr {
	padding: 0;
	margin: 0;
}

span.nested {
	padding: 0 4px 0 0;
	font-size: 1.2em;
}

/**
 * Form-specific elements
 */

span.formError {
	color: #900;
	font-weight: bold;
	font-size: 1em;
}

ul.formErrorList {
	color: #900;
}


/**
 * Other organizational elements
 */

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	margin: 0;
	padding: 0;
	padding-right: 1.5em;
	display: inline;
}

ul.menu li.current {
	font-weight: bold;
}

ul.menu a {
	font-size: 0.85em;
	text-transform: uppercase;
	text-decoration: none;
}

ul.steplist {
	margin: 0;
	padding: 0;
	list-style-type: decimal;
}

ul.steplist li {
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	padding-right: 0.5em;
	display: inline;
	text-transform: uppercase;
}

ul.steplist li.current {
	font-weight: bold;
}

ul.steplist a {
	text-decoration: none;
}

ul.plain {
	list-style-type: none;
	padding-left: 1.5em;
}

ul.filter {
	margin: 0;
	padding: 1.5em 0 1.5em 0;
	list-style-type: none;
}

ul.filter li {
	padding-right: 1.5em;
	display: inline;
}

div.separator {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0.25em;
	padding: 0;
	border-bottom: 1px dotted #000;
	font-size: 0.5em;
	line-height: 25%;
}

/**
 * Drag and drop styles
 */
.draggable {
	position: relative;
	cursor: move;
}

.borderBox {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	margin: 2px;
	padding: 2px;
}

.floatLeft {
	float: left;
}

/**
 * Scheduler styles
 */
.scrollContainer {
	overflow: auto;
}

.scheduleTable {
	min-width: 100%;
}

.schedulerEvent {
	color: #880000;
	background-color: #FBFBF3;
}

.schedulerPresentation {
	color: #008800;
	background-color: #FBFBF3;
}

.schedulerEventHeader {
	color: #FBFBF3;
	background-color: #880000;
}

.schedulerPresentationHeader {
	color: #FBFBF3;
	background-color: #008800;
}


td.hole {
	background-color: #777777;
}

td.timeRowLabel {
	border-style: solid none none none;
	border-width: 1px;
}

.droppable {
}
