/**
 * lifestream.css
 *
 * Copyright (C) 2009, Canonical Ltd, thanks to the Ubuntu Website team
 * Copyright (C) 2010, Sense Hofstede <qense@ubuntu.com>
 *
 * Stylesheet for the livestream.
 */

/**
 * Alignment
 */
p.desc {
    text-align: center;
    font-size: 1.3em;
}
td {
  padding: 4px;
  margin: 4px;
}
td.time {
  padding-left: 20px;
}

tr.odd {
    background-color: #ffffff;
}

/**
 * Images
 */ 

/* This is for making the images work */
a img {border:none;}
td.source {
    display: none;
}

tr.flickr td.time {
    background: url('../img/livestream/flickr.png') center left no-repeat;
}
tr.identica td.time {
    background: url('../img/livestream/identi.png') center left no-repeat;
}
tr.picasa td.time { 
    background: url('../img/livestream/picasa.png') center left no-repeat;
}
tr.twitter td.time {
    background: url('../img/livestream/twitter.png') center left no-repeat;
}
tr.youtube td.time {
    background: url('../img/livestream/youtube.png') center left no-repeat;
}
