/**
 * lifestream.css
 *
 * Copyright (C) 2009, Canonical Ltd, thanks to the Ubuntu Website team
 * Copyright (C) 2010, Sense Hofstede <sense@ubuntu.com>
 *
 * Stylesheet for the livestreamscreen.
 */

/**
 * Alignment
 */
p.desc {
    text-align: center;
    font-size: 20pt;
}
td {
  padding: 4px;
  margin: 4px;
}
td.time {
  padding-left: 40px;
}

tr.odd {
    background-color: #ffffff;
}

tr.even {
    background-color: #9FD1D6;
}

/**
 * Images
 */ 

/* This is for making the images work */
a img {border:none;}
td.source {
    display: none;
}

tr.flickr td.time {
    background: url('../img/livestreamscreen/flickr.png') center left no-repeat;
}
tr.identica td.time {
    background: url('../img/livestreamscreen/identi.png') center left no-repeat;
}
tr.picasa td.time { 
    background: url('../img/livestreamscreen/picasa.png') center left no-repeat;
}
tr.twitter td.time {
    background: url('../img/livestreamscreen/twitter.png') center left no-repeat;
}
tr.youtube td.time {
    background: url('../img/livestreamscreen/youtube.png') center left no-repeat;
}

#content {
    width: 100%;
}

#content #t {
    font-size:20pt;
}
