/**
 * articleView.css
 *
 * Copyright (c) 2000-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Article view stylesheet.
 *
 * $Id: paperView.css,v 1.5.2.1 2009/04/08 20:45:51 asmecher Exp $
 */

#body {
	width: 95%;
	margin: 0 auto;
}

#container {
	min-width: 150px !important;
}

#main {
	width: 95%;
	margin: 0;
}

#main h2 {
	font-size: 1.0em;
}

#main h5 {
	margin: 0em 1em 0.5em 0em;
	padding-top: 0em;
	font-size: 1.3em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
}

#main h6 {
	margin: 0.5em 1em 0.5em 0em;
	padding: 0;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	font-size: 1.2em;
}

#content {
	border: none;
}

#topBar {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 2.5em;
}

#paperFontSize {
	float: right;
}

#paperFontSize img {
	display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

div.rtSeparator {
	width: 100%;
	padding: 0;
	border-bottom: 2px dotted #000;
	line-height: 0px;
}

div.rtSeparatorThin {
	width: 100%;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px dotted #000;
	line-height: 0px;
}

div.rtBlock {
}

div.rtBlock a {
	text-transform: none;
	text-decoration: none;	
}

div.rtBlock ul {
	padding: 0;
	margin: 0;
}

div.rtBlock li {
	list-style-type: none;
}

span.rtSubtitle {
	text-transform: uppercase;
	font-size: 0.85em;
}

a.rtAction {
	font-size: 0.9em;
	text-transform: uppercase;
	text-decoration: none;
}

/*
*  Styles for XSLT Article Rendering
*  (based on NLM DTD classes)
*/

table {
	background-color: #F0F0E8;
}

table.bm {
	border: 1px solid #000;
}

.tl-default, .tl-main-part {
	font-weight: bold;
}
