/**
 * schedule.css
 *
 * Copyright (c) 2010 Sense Hofstede <qense@ubuntu.com>
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Custom style elements for the schedule table
 *
 */

#opendesktopschedule table, #schedule table{
    border-collapse: collapse;
    border: 1px solid black;
}

#speakerstable table, #speakerstable tr {
    padding: 10px;
}

#speakerstable td {
    padding: 5px;
}

#opendesktopschedule th, #opendesktopschedule td, #schedule th, #schedule td {
    border: 1px solid black;
    padding: 5px;
}

#opendesktopschedule td {
    vertical-align: middle;
}

#opendesktopschedule th, #schedule th {
    font-size: 1.2em;
}

#schedule td {
    text-align: center;
    vertical-align: middle;
    width: 150px;
}
td.orange {
    background-color: #FF950E;
}
td.green {
    background-color: #11730B;
}
td.blue {
    background-color: #00DCFF;
}
td.purple {
    background-color: #CCCCFF;
}
td.red {
    background-color: #9E152E;
}
td.yellow {
    background-color: #E6FF00;
}
