/**
 * sponsors.css
 *
 * Copyright (C) 2010 Sense Hofstede <qense@ubuntu.com>
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Stylesheet for the sponsors' page.
 *
 */
 
#sponsors img {
    clear: both;
}

#sponsors .heading {
    text-align: center;
}

#sponsors h4 {
    padding: 0;
    margin: 0;
}
