/**
 * streams.css
 *
 * Copyright (C) 2010, Sense Hofstede <qense@ubuntu.com>
 *
 * Stylesheet for the livestreamscreen.
 */

#browser-support table,
#mediaplayer-support table {
    text-align: left;
    width: 560px;
}

#streams table th,
#streams table td {
    padding-right: 30px;
}

#streams .green {
    background: #49F227;
}

#streams .yellow {
    background: #DEF227;
}

#streams .red {
    background: #F22A27;
}

#streams table a,
#streams table a:link,
#streams table a:active {
    color: #000;
}
#streams table a:visited {
    color: #111;
}
#streams table a:hover {
    color: #222;
}
#streams .a_stream {
    text-align: center;
    float: left;
    font-size: 18pt;
    font-weight: bold;
    margin: 0 0 0 3px;
}

#streams .a_stream em{
    font-size: 7pt;
    font-weight: normal;
    margin: 0;
}
